<div class="container mt-4">
  <h3 class="text-primary mb-3">Vega Vehicles List</h3>
  <a class="btn btn-primary mb-3" [routerLink]="['/vehicle/new']">New Vehicle</a>
  <div class="well">
      <div class="form-group">
          <label for="make">Make</label>
          <select name="make" id="make" [(ngModel)]="filter.makeId" (change)="onFilterChange()" class="form-control">
            <option value=""></option>
            <option *ngFor="let make of makes" [value]="make.id"> {{make.name}} </option>
          </select>
        </div>
        <button (click)="reset()" class="btn btn-default mb-3">Reset</button>
  </div>
  <app-vehicle-detail [vehiclesList]="vehicles" (sortChanged)="sortColumns($event)"></app-vehicle-detail>
</div>


