<table class="table table-striped table-bordered">
<thead>
    <tr>
      <th (click)= "sortBy('name')">Name</th>
      <th (click)= "sortBy('make')">Make</th>
      <th (click)= "sortBy('model')">Model</th>
      <th (click)= "sortBy('features')">Features</th>
      <th (click)= "sortBy('contactName')">Contact Name</th>
      <th (click)= "sortBy('contactEmail')">Contact Email</th>
      <th>Action</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let vehicle of vehiclesList">
      <td> {{vehicle.name}} </td>
      <td> {{vehicle.make.name}} </td>
      <td> {{vehicle.model.name}} </td>
      <td>
        <ul>
            <li *ngFor="let feature of vehicle.vehicleFeatures">{{feature.name}}</li>
        </ul>
      </td>
      <td>{{vehicle.contact.name}}</td>
      <td>{{vehicle.contact.email}}</td>
      <td><a [routerLink]="['/vehicle',vehicle.id]" class="btn btn-danger">View</a></td>
    </tr>
  </tbody>
</table>
